@import 'react-toastify/dist/ReactToastify.css';

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button,
button:hover {
    background: none;
    border: none;
}

a,
a:hover {
    text-decoration: none;
    color: black
}

input,
input:focus,
input:hover {
    border: none;
    background: none;
    outline: none;
}